Автор материала: Юрий Кашницкий (@yorko в Slack ODS). Материал распространяется на условиях лицензии [Creative Commons CC BY-NC-SA 4.0](https://creativecommons.org/licenses/by-nc-sa/4.0/). Можно использовать в любых целях (редактировать, поправлять и брать за основу), кроме коммерческих, но с обязательным упоминанием автора материала.

## <center>Анализ данных по доходу населения UCI Adult</center>

**В задании предлагается с помощью Pandas ответить на несколько вопросов по данным репозитория UCI [Adult](https://archive.ics.uci.edu/ml/datasets/Adult) (качать данные не надо – они уже есть в репозитории).**
Уникальные значения признаков (больше информации по ссылке выше):
- age: continuous.
- workclass: Private, Self-emp-not-inc, Self-emp-inc, Federal-gov, Local-gov, State-gov, Without-pay, Never-worked.
- fnlwgt: continuous.
- education: Bachelors, Some-college, 11th, HS-grad, Prof-school, Assoc-acdm, Assoc-voc, 9th, 7th-8th, 12th, Masters, 1st-4th, 10th, Doctorate, 5th-6th, Preschool.
- education-num: continuous.
- marital-status: Married-civ-spouse, Divorced, Never-married, Separated, Widowed, Married-spouse-absent, Married-AF-spouse.
- occupation: Tech-support, Craft-repair, Other-service, Sales, Exec-managerial, Prof-specialty, Handlers-cleaners, Machine-op-inspct, Adm-clerical, Farming-fishing, Transport-moving, Priv-house-serv, Protective-serv, Armed-Forces.
- relationship: Wife, Own-child, Husband, Not-in-family, Other-relative, Unmarried.
- race: White, Asian-Pac-Islander, Amer-Indian-Eskimo, Other, Black.
- sex: Female, Male.
- capital-gain: continuous.
- capital-loss: continuous.
- hours-per-week: continuous.
- native-country: United-States, Cambodia, England, Puerto-Rico, Canada, Germany, Outlying-US(Guam-USVI-etc), India, Japan, Greece, South, China, Cuba, Iran, Honduras, Philippines, Italy, Poland, Jamaica, Vietnam, Mexico, Portugal, Ireland, France, Dominican-Republic, Laos, Ecuador, Taiwan, Haiti, Columbia, Hungary, Guatemala, Nicaragua, Scotland, Thailand, Yugoslavia, El-Salvador, Trinadad&Tobago, Peru, Hong, Holand-Netherlands.   
- salary: >50K,<=50K

In [1]:
import pandas as pd

In [2]:
data = pd.read_csv("../data/adult.data.csv")
data.head()

,age,workclass,fnlwgt,education,education-num,marital-status,occupation,relationship,race,sex,capital-gain,capital-loss,hours-per-week,native-country,salary
0,39,State-gov,77516,Bachelors,13,Never-married,Adm-clerical,Not-in-family,White,Male,2174,0,40,United-States,<=50K
1,50,Self-emp-not-inc,83311,Bachelors,13,Married-civ-spouse,Exec-managerial,Husband,White,Male,0,0,13,United-States,<=50K
2,38,Private,215646,HS-grad,9,Divorced,Handlers-cleaners,Not-in-family,White,Male,0,0,40,United-States,<=50K
3,53,Private,234721,11th,7,Married-civ-spouse,Handlers-cleaners,Husband,Black,Male,0,0,40,United-States,<=50K
4,28,Private,338409,Bachelors,13,Married-civ-spouse,Prof-specialty,Wife,Black,Female,0,0,40,Cuba,<=50K

**1. Сколько мужчин и женщин (признак *sex*) представлено в этом наборе данных?**

In [4]:
# Ваш код здесь
data.value_counts('sex')

sex
Male      21790
Female    10771
dtype: int64

**2. Каков средний возраст (признак *age*) женщин?**

In [5]:
# Ваш код здесь
data[data['sex']=='Female']['age'].mean()

36.85823043357163

**3. Какова доля граждан Германии (признак *native-country*)?**

In [6]:
# Ваш код здесь
'{:.2f}%'.format(100 * len(data[data['native-country']=='Germany']) / len(data))

'0.42%'

**4-5. Каковы средние значения и среднеквадратичные отклонения возраста тех, кто получает более 50K в год (признак *salary*) и тех, кто получает менее 50K в год? **

In [7]:
# Ваш код здесь
data[data['salary']=='>50K']['age'].std()

10.519027719851826

**6. Правда ли, что люди, которые получают больше 50k, имеют как минимум высшее образование? (признак *education – Bachelors, Prof-school, Assoc-acdm, Assoc-voc, Masters* или *Doctorate*)**

In [9]:
# Ваш код здесь
data[data['salary'] == '>50K']['education'].value_counts

<bound method IndexOpsMixin.value_counts of 7             HS-grad
8             Masters
9           Bachelors
10       Some-college
11          Bachelors
             ...
32539       Doctorate
32545      Assoc-acdm
32554         Masters
32557         HS-grad
32560         HS-grad
Name: education, Length: 7841, dtype: object>

**7. Выведите статистику возраста для каждой расы (признак *race*) и каждого пола. Используйте *groupby* и *describe*. Найдите таким образом максимальный возраст мужчин расы *Amer-Indian-Eskimo*.**

In [14]:
# Ваш код здесь
data.groupby(['race','sex']).mean()
#data.descibe()

                                 age         fnlwgt  education-num  \
race               sex
Amer-Indian-Eskimo Female  37.117647  112950.731092       9.697479
                   Male    37.208333  125715.364583       9.072917
Asian-Pac-Islander Female  35.089595  147452.075145      10.390173
                   Male    39.073593  166175.865801      11.245310
Black              Female  37.854019  212971.387781       9.549839
                   Male    37.682600  242920.644997       9.423199
Other              Female  31.678899  172519.642202       8.899083
                   Male    34.654321  213679.104938       8.802469
White              Female  36.811618  183549.966906      10.127980
                   Male    39.652498  188987.386148      10.138521

                           capital-gain  capital-loss  hours-per-week
race               sex
Amer-Indian-Eskimo Female    544.605042     14.462185       36.579832
                   Male      675.260417     46.395833       42.197917
Asian-Pac-Islander Female    778.436416     50.852601       37.439306
                   Male     1827.813853    120.373737       41.468975
Black              Female    516.593569     45.450804       36.834084
                   Male      702.454430     75.186106       39.997451
Other              Female    254.669725     36.284404       35.926606
                   Male     1392.185185     77.746914       41.851852
White              Female    573.610391     65.390535       36.296691
                   Male     1368.674455    102.261343       42.668822

**8. Среди кого больше доля зарабатывающих много (>50K): среди женатых или холостых мужчин (признак *marital-status*)? Женатыми считаем тех, у кого *marital-status* начинается с *Married* (Married-civ-spouse, Married-spouse-absent или Married-AF-spouse), остальных считаем холостыми.**

In [15]:
# Ваш код здесь
#data[data['sex'] == 'Male']
data['married'] = data['marital-status'].str.startswith('Married')
detamale = data[data['sex'] == 'Male']
#detamale.groupby('married')['age'].count()
detamale[detamale['salary'] == '>50K'].groupby('married')['age'].count() / detamale.groupby('married')['age'].count()
#data[data['sex'] == 'Male'].groupby(data[data['sex']=='Male']['marital-status'].str.startswith('Married'))['age'].count()

married
False    0.084495
True     0.440514
Name: age, dtype: float64

In [16]:
detamale[detamale['salary'] == '>50K'].groupby('married')['age'].count()

married
False     697
True     5965
Name: age, dtype: int64

In [17]:
np.array([1,2,4])/np.array([1,4,16])

NameError: name 'np' is not defined

In [18]:
data['sex'].value_counts()

Male      21790
Female    10771
Name: sex, dtype: int64

**9. Какое максимальное число часов человек работает в неделю (признак *hours-per-week*)? Сколько людей работают такое количество часов и каков среди них процент зарабатывающих много?**

In [19]:
# Ваш код здесь
len(data[(data['hours-per-week'] == data['hours-per-week'].max()) &
         (data['salary'] == '>50K')]) / len(data[data['hours-per-week'] == data['hours-per-week'].max()])

0.29411764705882354

**10. Посчитайте среднее время работы (*hours-per-week*) зарабатывающих мало и много (*salary*) для каждой страны (*native-country*).**

In [20]:
# Ваш код здесь
%timeit A = data.groupby(['native-country','salary'])['hours-per-week'].mean()

4.81 ms ± 55.6 µs per loop (mean ± std. dev. of 7 runs, 100 loops each)

In [21]:
%timeit A = data[['native-country','salary', 'hours-per-week']].groupby(['native-country','salary'])['hours-per-week'].mean()

5.62 ms ± 58.7 µs per loop (mean ± std. dev. of 7 runs, 100 loops each)